[submodule "auth-service"]
	path = auth-service
	url = https://github.com/MohaAfreen/auth-service.git
[submodule "task-service"]
	path = task-service
	url = https://github.com/MohaAfreen/task-service.git
